@import "./date-picker/picker.css";
@import "./date-picker/date-picker.css";
@import "./common/var.css";
@import "./scrollbar.css";

.time-select {
  margin: 5px 0;
  min-width: 0;
}

.time-select .el-picker-panel__content {
  max-height: 200px;
  margin: 0;
}

.time-select-item {
  position: relative;
  padding: 5px 10px;
  font-size: 14px;

  &:before {
    content: '';
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: var(--select-option-hover-bar);
  }
}

.time-select-item:hover {
  background-color: var(--datepicker-cell-hover-color);
  cursor: pointer;

  &:before {
    display: block;
  }
}

.time-select-item.selected:not(.disabled) {
  background-color: var(--datepicker-active-color);
  color: var(--color-base-white);

  &:before {
    display: none;
  }

  &:hover {
    background-color: var(--color-dark-primary);
  }
}

.time-select-item.disabled {
  color: var(--datepicker-border-color);
  cursor: not-allowed;
  background-color: transparent;

  &:before {
    display: none;
  }
}
