@define-mixin button-variant $color, $background-color, $border-color {
  color: $color;
  background-color: $background-color;
  border-color: $border-color;

  &:hover {
    background: color($background-color h(+0) s(85%) l(*1.27));
    border-color: color($border-color h(+0) s(85%) l(*1.27));
    color: $color;
  }

  &:active {
    background: color($background-color h(+0) s(99%) l(*0.9));
    border-color: color($border-color h(+0) s(99%) l(*0.9));
    color: $color;
    outline: none;
  }

  &.is-active {
    background: color($background-color h(+0) s(99%) l(*0.9));
    border-color: color($border-color h(+0) s(99%) l(*0.9));
    color: $color;
  }

  &.is-plain {
    background: var(--button-default-fill);
    border: var(--border-base);
    border-color: var(--button-default-plain);
    color: var(--button-default-plain);

    &:hover {
      background: var(--button-default-fill);
      border-color: color($border-color h(+0) s(85%) l(*1.27));
      color: color($background-color h(+0) s(85%) l(*1.27));
    }

    &:active {
      background: var(--button-default-fill);
      border-color: color($border-color h(+0) s(99%) l(*0.9));
      color: color($background-color h(+0) s(99%) l(*0.9));
      outline: none;
    }
  }

  &.is-disabled {
    color: var(--button-filled-disabled-color) !important;
    background-color: var(--button-disabled) !important;
  }
}

@define-mixin button-size $padding-vertical, $padding-horizontal, $font-size, $border-radius {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  border-radius: $border-radius;
}
